project:
  type: website

website:
  title: stadt-geschichte-basel.github.io
  favicon: favicon.png
  open-graph: true
  twitter-card: true
  site-url: https://dokumentation.stadtgeschichtebasel.ch/
  repo-url: https://github.com/Stadt-Geschichte-Basel/stadt-geschichte-basel.github.io/
  issue-url: https://github.com/Stadt-Geschichte-Basel/stadt-geschichte-basel.github.io/issues/new/choose
  repo-actions: [edit, issue]
  page-navigation: true
  bread-crumbs: true
  back-to-top-navigation: true
  search:
    show-item-context: true
    type: overlay
  navbar:
    logo: assets/img/logo.svg
    logo-alt: ''
    title: Forschungsdatenmanagement
    tools-collapse: true
    tools:
      - icon: github
        url: https://github.com/Stadt-Geschichte-Basel/stadt-geschichte-basel.github.io/
        aria-label: GitHub-Organisation
    left:
      - text: Produkte
        href: products/products.qmd
      - text: Team
        href: team.qmd
      - text: Über
        href: about.qmd

  sidebar:
    contents:
      - text: Home
        href: index.qmd
      - section: Produkte
        href: products/products.qmd
        contents:
          - href: products/products.qmd#publikationen
            text: Publikationen
          - href: products/products.qmd#data-stories
            text: Data Stories
          - href: products/products.qmd#coding
            text: Coding
          - href: products/products.qmd#forschungsdaten
            text: Forschungsdaten
          - href: products/products.qmd#conferences
            text: Vorträge, Poster und Workshops
          - href: products/products.qmd#community-building
            text: Community Building
          - href: products/products.qmd#interna
            text: Interna

format:
  html:
    toc: true
    theme: cosmo
    link-external-newwindow: true
    code-copy: true
    code-overflow: wrap
    title-block-categories: false
    css: styles.css
    mainfont: Euclid Circular B
    include-in-header:
      text: |
        <script defer data-domain="dokumentation.stadtgeschichtebasel.ch" src="https://plausible.io/js/script.outbound-links.js"></script>

freeze: true

editor: visual
