project:
  type: website

website:
  title: Dokumentationsplattform Stadt.Geschichte.Basel
  description: 'Dokumentationsplattform des Teams Forschungsdatenmanagement (RDM) und Public History des Projekts Stadt.Geschichte.Basel. Fokus auf Forschungsdaten, digitale Präsentation und Vermittlung.'
  favicon: _extensions/Stadt-Geschichte-Basel/sgb-theme/favicon.png
  open-graph: true
  twitter-card: true
  site-url: https://dokumentation.stadtgeschichtebasel.ch/
  repo-url: https://github.com/Stadt-Geschichte-Basel/stadt-geschichte-basel.github.io/
  issue-url: https://github.com/Stadt-Geschichte-Basel/stadt-geschichte-basel.github.io/issues/new/choose
  repo-actions: [edit, issue]
  page-navigation: true
  bread-crumbs: true
  back-to-top-navigation: true
  search:
    show-item-context: true
    type: overlay
  navbar:
    logo: _extensions/Stadt-Geschichte-Basel/sgb-theme/assets/img/logo.svg
    logo-alt: ''
    title: Forschungsdatenmanagement & Public History
    tools-collapse: true
    tools:
      - icon: github
        url: https://github.com/Stadt-Geschichte-Basel/stadt-geschichte-basel.github.io/
        aria-label: GitHub-Organisation
    left:
      - text: Produkte
        href: products/products.qmd
      - text: Team
        href: team.qmd
      - text: Über
        href: about.qmd

  sidebar:
    contents:
      - text: Home
        href: index.qmd
      - section: Produkte
        href: products/products.qmd
        contents:
          - href: products/products.html#publikationen
            text: Publikationen
          - href: products/products.html#data-stories
            text: Data Stories
          - href: products/products.html#coding
            text: Coding
          - href: products/products.html#forschungsdaten
            text: Forschungsdaten
          - href: products/products.html#conferences
            text: Vorträge, Poster und Workshops
          - href: products/products.html#community-building
            text: Community Building
          - href: products/products.html#interna
            text: Interna

format:
  sgb-theme-html:
    css: styles.css

freeze: true

editor: visual
